@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
body {
  color: #cacaca;
  font: 18px/1.5 Roboto, sans-serif;
  background-color: #08020d;
}

h2, h1 {
  font-weight: bold;
  text-transform: uppercase;
}

body {
  margin: 0;
}

.header-section {
  position: relative;
}

h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}

.btn {
  padding: 20px 30px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-200 {
  padding-top: 200px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-200 {
  padding-bottom: 200px;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-200 {
  margin-top: 200px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-100 {
  margin-bottom: 100px;
}

a:hover {
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-title {
  margin: 3px 90px 5px 16px;
  color: #fff;
  text-decoration: none;
}

.link-top-nav {
  color: #cacaca;
  text-decoration: none;
}
.link-bottom-nav {
  color: #e0e0e0;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
}
.link:hover {
  color: #fff;
}

/* DESKTOP */
.container {
  position: relative;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.top-wrapper {
  position: absolute;
  top: 25px;
  width: 100%;
}

.search-form {
  display: flex;
  align-items: center;
}
.search-input {
  box-sizing: border-box;
  min-width: 248px;
  padding: 5px 10px;
  font: 13.3px/15px Arial, sans-serif;
  background: #3c3b3d;
  border: none;
  border-radius: 50px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-top {
  display: flex;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  cursor: pointer;
}

.list {
  display: flex;
  align-items: center;
}
.list-top {
  gap: 1.5rem;
}
.list-bottom {
  margin: 0;
  gap: 1rem;
}
.list-unmarked {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 60px;
  line-height: 90px;
}

h2 {
  font-size: 38px;
  line-height: 57px;
}

/* MOBILE */
@media (max-width: 1239px) {
  .container {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .top-wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: flex-start;
  }
  .menu-top {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .list-top {
    gap: 3px;
  }
  .list-bottom {
    gap: 1rem;
  }
  .list-unmarked {
    list-style: none;
  }
  .search-right {
    align-self: stretch;
  }
  .search-input {
    width: calc(100% - 40px);
  }
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}
.banner {
  display: flex;
  justify-content: center;
  padding: 200px 0;
  color: #fff;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
.banner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner * {
  margin: 0;
}
.banner-text {
  text-align: center;
}
.banner-text p {
  margin-top: 31px;
  margin-bottom: 17px;
  font-size: 16px;
}

.access-form {
  max-width: 570px;
}
.access-form .input-container {
  display: grid;
  flex-shrink: 1;
  grid-template-areas: "col-1 col-2" "col-3 col-3";
  gap: 24px;
}
.access-form .input-container input {
  box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  color: #fff;
  background: none;
  border: solid 2px #cacaca;
  border-radius: 3px;
}
.access-form .input-container input::placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
.access-form .btn-access {
  border: none;
  background: #34c176;
}

.grid-col-1 {
  grid-area: col-1;
}

.grid-col-2 {
  grid-area: col-2;
}

.grid-col-3 {
  grid-area: col-3;
}

@media (max-width: 1239px) {
  .banner {
    padding-top: 250px;
  }
  .banner-wrapper {
    display: block;
  }
  .banner-text p {
    margin: 16px 0;
  }
  .access-form .input-container {
    grid-template-areas: "col-1 col-1" "col-2 col-2" "col-3 col-3";
  }
}
.tariffs {
  padding-right: 20px;
  padding-left: 20px;
}
.tariffs h2 {
  margin-bottom: 3rem;
}
.tariffs-wrapper {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-bottom: 40px;
}
.tariffs-disclaimer {
  font-size: 16px;
  line-height: 1.5em;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
}
.pricing-item {
  position: relative;
  box-sizing: border-box;
  min-width: 366.66px;
  padding: 24px 1.5rem 0;
  text-transform: uppercase;
  border-radius: 1rem;
}
.pricing-item h3 {
  padding: 0;
  margin-bottom: 200px;
}
.pricing-value {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 100%;
}
.pricing-value span {
  font-size: 0.5em;
  line-height: 150%;
}
.pricing-footer {
  display: flex;
  margin: 64px auto;
  font-size: 12.8px;
  line-height: 1.5em;
  text-transform: none;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: top;
  background-size: cover;
}
.bg-standard {
  background-image: url("../images/subscribe_2.png");
  background-position: top;
  background-size: cover;
}
.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: top;
  background-size: cover;
}

.btn-subscribe {
  height: 66px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #fff;
}

@media (max-width: 1239px) {
  .tariffs h2 {
    max-width: 100%;
  }
  .tariffs-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pricing-item {
    padding-top: 1rem;
  }
  .pricing-item h3 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.news {
  padding-right: 20px;
  padding-left: 20px;
}
.news h2 {
  color: #fff;
  text-align: center;
}
.news-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}
.news-item {
  display: flex;
  gap: 50px;
}
.news-image {
  width: 575px;
}
.news-title {
  color: #fff;
  margin-top: 0;
  font-size: 30px;
  line-height: 1.5em;
  text-transform: capitalize;
}
.news-text {
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
.news-author {
  display: flex;
  gap: 16px;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
}
.news-author .post-author {
  color: #f89202;
}

.text {
  margin-top: 0;
}
.text-right {
  flex-direction: row;
}
.text-right p {
  margin-bottom: 24px;
}
.text-left {
  flex-direction: row-reverse;
}
.text-left p {
  margin-bottom: 16px;
}

.col-text {
  width: 575px;
  display: flex;
  flex-direction: column;
}

.btn-album {
  display: block;
  box-sizing: border-box;
  width: max-content;
  padding: 16px 30px;
  color: #cacaca;
  font-size: 12.8px;
  line-height: 1.5em;
  border: 1px solid #cacaca;
}

@media (max-width: 1239px) {
  .news-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .news-image {
    width: 374px;
  }
  .news-title {
    font-size: 1rem;
  }
}
.mobile-app {
  display: flex;
  padding-bottom: 100px;
}
.mobile-app h2 {
  color: #fff;
  text-align: center;
}

.app {
  padding-right: 20px;
  padding-left: 20px;
}
.app-wrapper {
  display: flex;
  gap: 144px;
}
.app-description {
  color: #cacaca;
  font-size: 1rem;
  line-height: 1.5rem;
}

.col-1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.col-2 {
  display: flex;
  justify-content: center;
}

.btn-download {
  width: max-content;
  padding: 16px 40px;
  font-size: 12.8px;
  text-transform: none;
  background: #95390c;
  border-radius: 32px;
}

@media (max-width: 1239px) {
  .app-wrapper {
    display: flex;
    flex-flow: column-reverse wrap;
    gap: 0;
  }
  .col-1 {
    display: flex;
    flex-direction: row wrap;
    width: 100%;
  }
}
.footer-section {
  padding-bottom: 18px;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.info {
  padding: 48px 20px;
}
.info-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.info-additional {
  padding: 32px 20px;
}

.media-logo {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}
.col-title {
  color: #fff;
  font-size: 18px;
  line-height: 1.5em;
}
.col-list {
  font: normal 1rem/1.5rem Roboto, sans-serif;
}

.divider-bottom {
  margin: 24px 0 8px;
}

.menu-media h2 {
  margin-bottom: 20px;
}

@media (max-width: 1239px) {
  .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
.morten-harket {
  display: flex;
  justify-content: flex-start;
  padding: 200px 0;
  color: #fff;
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}
.morten-harket-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1200px;
}
.morten-harket-text {
  text-align: left;
}
.morten-harket-text p {
  margin: 1rem 0 3rem;
  font-size: 16px;
  line-height: 1.5rem;
}
.morten-harket-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.btn-add {
  display: flex;
  gap: 1rem;
  align-items: center;
  box-sizing: border-box;
  width: 200px;
  font-size: 12.8px;
  line-height: 1.5em;
}
.btn-mix {
  background: #5328a1;
}
.btn-favourites {
  background: #95390c;
}
.btn img {
  filter: invert(1);
}

@media (max-width: 1239px) {
  .morten-harket {
    padding-top: 225px;
  }
  .morten-harket-text h1 {
    margin: 0;
  }
  .morten-harket-buttons {
    display: flex;
    flex-direction: column;
  }
}
.tracks {
  padding-right: 20px;
  padding-left: 20px;
}
.tracks h2 {
  color: #fff;
}
.tracks-wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 25px 50px;
}

.popular-track {
  display: flex;
  align-items: center;
  font-size: 12.8px;
  line-height: 19.2px;
}
.popular-track .track-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.popular-track .track-image {
  margin-right: 15px;
}
.popular-track .track-title {
  color: #fff;
  font: bold 12.8px/19.2px Roboto, sans-serif;
  text-transform: uppercase;
}

@media (max-width: 1239px) {
  .tracks-wrapper {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: auto;
  }
}
.albums {
  padding-right: 20px;
  padding-left: 20px;
}
.albums h2 {
  color: #fff;
}
.albums-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 25px 50px;
}

.album-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.album-info * {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.album-image {
  margin-bottom: 18px;
  text-transform: capitalize;
}
.album-title {
  font: bold 18px/27px Roboto, sans-serif;
  color: #fff;
}
.album-year {
  font-size: 1rem;
}

@media (max-width: 1239px) {
  .albums-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: max-content;
  }
  .album-info {
    width: 138px;
  }
  .album-title {
    font: bold 18px/27px Roboto, sans-serif;
    width: 138px;
  }
  .album-image {
    width: 137px;
    height: 137px;
  }
}
.similar {
  padding-right: 20px;
  padding-left: 20px;
}
.similar h2 {
  color: #fff;
}
.similar-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 25px 50px;
}
.similar-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.similar-image {
  margin-bottom: 18px;
}
.similar-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.similar-artist-name {
  margin: 0;
  color: #fff;
  font: bold 18px/27px Roboto, sans-serif;
  text-transform: capitalize;
}
.similar-artist-fanbase {
  margin: 0;
  font: normal 1rem/1.5rem Roboto, sans-serif;
}

@media (max-width: 1239px) {
  .similar-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: max-content;
  }
  .similar-info {
    width: 137px;
  }
  .similar-image {
    width: 137px;
    height: 137px;
  }
}

/*# sourceMappingURL=app.css.map */
