.mobile-app {
  display: flex;

  h2 {
    color: $white;
    text-align: center;
  }
}

.app {
  padding-bottom: 100px;

  &-wrapper {
    display: flex;
    gap: 144px;
  }

  &-description {

    color: $dark-gray;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.col-1 {
  display: flex;
  flex-direction: column;

  width: 50%;
}

.col-2 {
  display: flex;
  justify-content: center;
}

.btn {
  &-download {
    width: max-content;
    padding: 16px 40px;

    font-size: 12.8px;

    text-transform: none;

    background: $red;

    border-radius: 32px;
  }
}

@media (max-width: 1239px) {
  .app {
    &-wrapper {
      display: flex;
      flex-flow: column-reverse wrap;
      gap: 0;
    }
  }

  .col-1 {
    display: flex;
    flex-direction: row wrap;
    width: 100%;
  }
}
