.albums {
  padding-right: 20px;
  padding-left: 20px;

  h2 {
    color: $white;
  }

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 25px 50px;
  }
}

.album {
  &-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &-info * {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  &-image {
    margin-bottom: 18px;

    text-transform: capitalize;
  }

  &-title {
    color: $white;
    font: bold 18px/27px Roboto, sans-serif;
  }

  &-year {
    font-size: 1rem;
  }
}

@media (max-width: 1239px) {
  .albums {
    &-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: max-content;
    }
  }

  .album {
    &-info {
      width: 138px;
    }

    &-title {
      width: 138px;

      font: bold 18px/27px Roboto, sans-serif;
    }

    &-image {
      width: 137px;
      height: 137px;
    }
  }
}
