.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.info {
  padding: 48px 20px;

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }

  &-additional {
    padding: 32px 20px;
  }
}

.media-logo {
  display: flex;
  gap: 1.5rem;
  align-items: baseline;
}

.col {
  display: flex;
  flex-direction: column;

  &-title {
    margin-top: 15px;
    color: $white;
    font-size: 18px;
    line-height: 1.5em;
  }

  &-list {
    font: normal 1rem/1.5rem Roboto, sans-serif;
    margin-bottom: 1rem;
  }
}

// .divider {
//   &-bottom {
//     margin: 22px 0 8px;
//   }
// }

.menu {
  &-media {
    h2 {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1239px) {
  .info {
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  .col {
    &-title {
      font: bold 18px/27px Roboto, sans-serif;
    }
  }
}
