.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.info {
  padding: 48px 20px;

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }

  &-additional {
    padding: 32px 20px;
  }
}

.media-logo {
  display: flex;
  gap: 1.5rem;
  align-items: baseline;
  margin-bottom: 1rem;
}

.col {
  display: flex;
  flex-direction: column;

  &-title {
    //margin-top: 15px;

    color: $white;
    font: bold 18px/27px Roboto, sans-serif;
  }

  &-list {
    margin-bottom: 1rem;

    font: normal 16px/24px Roboto, sans-serif;
  }
}

.menu {
  &-media {
    h2 {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1239px) {
  .info {
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }

  // .col {
  //   &-title {
  //     font: bold 18px/27px Roboto, sans-serif;
  //   }
  // }

  .media-logo {
    margin-bottom: 12px;
  }
}
