@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}

%basic-font-style {
  color: $dark-gray;
  font: 18px/1.5 Roboto, sans-serif;

  background-color: $black;
}

%bold-uppercase {
  font-weight: bold;
  text-transform: uppercase;
}

body {
  position: relative;

  margin: 0;

  @extend %basic-font-style;
}

h3 {
  font: normal 24px/36px Roboto, sans-serif;
}

.p-0 {
  padding: 0;
}

.pt-100 {
  padding-top: 100px;
}

.pt-200 {
  padding-top: 200px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-200 {
  padding-bottom: 200px;
}

.ph-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.pv-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pv-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-200 {
  margin-top: 200px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-200 {
  margin-bottom: 200px;
}

a {
  &:hover {
    color: $white;
  }
}

.btn {
  padding: 20px 30px;

  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  border-radius: 5px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  &-title {
    margin: 3px 90px 5px 16px;

    color: $white;
  }
}

.link {
  &-top-nav {
    color: $dark-gray;
    text-decoration: none;
  }

  &-bottom-nav {
    color: $gray;
    font: normal 16px/24px Roboto, sans-serif;
    text-decoration: none;
  }

  &:hover {
    color: $white;
  }
}

.container {
  position: relative;

  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.top {
  &-wrapper {
    position: absolute;
    top: 25px;

    width: 100%;
  }
}

.search {
  &-form {
    display: flex;
    align-items: center;
  }

  &-input {
    box-sizing: border-box;
    min-width: 248px;
    padding: 5px 10px;

    font: 13.3px/15px Arial, sans-serif;

    background: $dark;
    border: none;
    border-radius: 50px;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-top {
    display: flex;

    font: normal 11px/13px Roboto, sans-serif;
    text-transform: uppercase;

    cursor: pointer;
  }
}

.list {
  display: flex;
  align-items: center;

  &-top {
    gap: 1.5rem;
  }

  &-bottom {
    gap: 1rem;
    margin: 0;
  }

  &-unmarked {
    margin: 0;
    padding: 0;

    list-style: none;
  }
}

h1 {
  font-size: 60px;
  line-height: 90px;

  @extend %bold-uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;

  @extend %bold-uppercase;
}

@media (max-width: 1239px) {
  .container {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .top {
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 18px;
      align-items: flex-start;
    }
  }

  .menu {
    &-top {
      display: flex;
      flex-direction: column;
      gap: 17px;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-top {
      gap: 3px;
    }

    &-bottom {
      gap: 1rem;
    }

    &-unmarked {
      list-style: none;
    }
  }

  .search {
    &-right {
      align-self: stretch;
    }

    &-input {
      width: calc(100% - 40px);
    }
  }

  h1 {
    font-size: 30px;
    line-height: 45px;

    @extend %bold-uppercase;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;

    @extend %bold-uppercase;
  }
}
