.banner {
    display: flex;
    justify-content: center;
    padding: 200px 0px;

    color: $white;

    background-image: url('../images/banner.png');
    background-position: center;
    background-size: cover;

    &-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    * {
        margin: 0;
    }

    &-text {
        text-align: center;

        p {
            margin-top: 31px;
            margin-bottom: 17px;
            font-size: 16px;
        }
    }
}

.access-form {
    max-width: 570px;

    .input-container {
        display: grid;
        flex-shrink: 1;
        gap: 24px;
        grid-template-areas:    "col-1 col-2"
                                "col-3 col-3";

        input {
            min-width: 270px;
            min-height: 50px;
    
            padding-left: 20px;
    
            color: $white;
    
            border: solid 2px $dark-gray;
            border-radius: 3px;
            box-sizing: border-box;
    
            background: none;

            &::placeholder {
                color: $white;
            }
    
        }
    }

    .btn {
        &-access {
            background: $green;
        }
    }
}

.grid-col-1 {
    grid-area: col-1;
}

.grid-col-2 {
    grid-area: col-2;
}

.grid-col-3 {
    grid-area: col-3;
}

@media (max-width: 1239px) {
    body {
        margin: 0;
    }
    
    .banner {
        padding: 250px 0 200px;

        &-wrapper {
            display: block;
        }

        &-text {  
            p {
                margin: 16px 0;
            }
        }
    }

    .access-form {
        .input-container {
            grid-template-areas:    "col-1 col-1"
                                    "col-2 col-2"
                                    "col-3 col-3";
    
        }
    }
}