.morten-harket {
  display: flex;
  justify-content: flex-start;
  padding: 200px 0;

  color: $white;

  background-image: url("../images/Morten\ Harket.png");
  background-position: center;
  background-size: cover;

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1200px;
  }

  &-text {
    text-align: left;

    p {
      margin: 1rem 0 3rem;

      font-size: 16px;
      line-height: 1.5rem;
    }
  }

  &-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

.btn {
  &-add {
    display: flex;
    gap: 1rem;
    align-items: center;

    box-sizing: border-box;
    width: 200px;

    font-size: 12.8px;
    line-height: 1.5em;
  }

  &-mix {
    background: $purple;
  }

  &-favourites {
    background: $red;
  }

  img {
    filter: invert(1);
  }
}

@media (max-width: 1239px) {
  .morten-harket {
    &-wrapper {
      margin-top: 25px;
    }
    &-text {
      h1 {
        margin: 0;
      }
    }

    &-buttons {
      display: flex;
      flex-direction: column;
    }
  }
}
