.newsblock {
  display: flex;
}

.news {
  h2 {
    margin-top: 0;
    margin-bottom: 48px;

    color: $white;
    text-align: center;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 65px;
  }

  &-item {
    display: flex;
    gap: 50px;
  }

  &-title {
    margin-top: 0;

    color: $white;

    font-size: 30px;
    line-height: 1.5em;
    text-transform: capitalize;
  }

  &-text {
    margin-bottom: 24px;

    font-size: 1rem;
    line-height: 1.5rem;
  }

  &-author {
    display: flex;
    gap: 16px;

    margin-bottom: 48px;

    font-size: 12.8px;
    line-height: 1.5em;
    text-transform: uppercase;

    .post-author {
      color: $orange;
    }
  }
}

.text {
  &-right {
    flex-direction: row;
  }

  &-left {
    flex-direction: row-reverse;
  }
}

.col {
  &-text {
    display: flex;
    flex-direction: column;
  }
}

.btn {
  &-album {

    display: block;
    box-sizing: border-box;
    width: max-content;

    padding: 16px 30px;

    color: $dark-gray;

    font-size: 12.8px;
    line-height: 1.5em;

    border: 1px solid $dark-gray;
  }
}

@media (max-width: 1239px) {
  .news {
    &-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-image {
      width: 374px;
    }

    &-title {
      font-size: 1rem;
    }
  }
}
