.news {
  // padding-right: 20px;
  // padding-left: 20px;

  h2 {
    color: $white;
    text-align: center;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
  }

  &-item {
    display: flex;
    gap: 50px;
  }

  &-image {
    width: 575px;
  }

  &-title {
    // margin-top: 0;

    color: $white;

    font: 30px/45px Roboto, sans-serif;
    text-transform: capitalize;
  }

  &-text {
    // margin-top: 0;

    font: 16px/24px Roboto, sans-serif;
  }

  &-author {
    display: flex;
    gap: 16px;

    font: 12px/19px Roboto, sans-serif;
    text-transform: uppercase;

    .post-author {
      color: $orange;
    }
  }
}

.text {
  // margin-top: 0;

  &-right {
    flex-direction: row;

    p {
      margin-bottom: 24px;
    }
  }

  &-left {
    flex-direction: row-reverse;

    p {
      margin-bottom: 16px;
    }
  }
}

.col {
  &-text {

    display: flex;
    flex-direction: column;
    width: 575px;
  }
}

.btn {
  &-album {

    display: block;
    box-sizing: border-box;
    width: max-content;

    padding: 16px 30px;

    color: $dark-gray;

    font: 12.8px/19px Roboto, sans-serif;

    border: 1px solid $dark-gray;
  }
}

@media (max-width: 1239px) {
  .news {
    &-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-image {
      width: 374px;
    }

    &-title {
      font-size: 1rem;
    }
  }
}
