.similar {
  // padding-right: 20px;
  // padding-left: 20px;

  h2 {
    color: $white;
  }

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 25px 50px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &-image {
    margin-bottom: 18px;
  }

  &-info {
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  &-artist {
    &-name {
      // margin: 0;

      color: $white;
      font: bold 18px/27px Roboto, sans-serif;
      text-transform: capitalize;
    }

    &-fanbase {
      // margin: 0;

      font: normal 16px/24px Roboto, sans-serif;
    }
  }
}

@media (max-width: 1239px) {
  .similar {
    &-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: max-content;
    }

    &-info {
      width: 137px;
    }

    &-image {
      width: 137px;
      height: 137px;
    }
  }
}
