.similar {
  padding-left: 20px;
  padding-right: 20px;

  h2 {
    color: $white;
  }

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 50px;
  }

  &-info {
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  &-artist {
    &-name {
      margin: 18px 0 0;

      color: $white;
      font: bold 18px/27px Roboto, sans-serif;
      text-transform: capitalize;
    }

    &-fanbase {
      font: normal 1rem/1.5rem Roboto, sans-serif;
    }
  }
}

@media (max-width: 1239px) {
  .similar {
    &-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: max-content;
    }

    &-info {
      width: 137px;
    }

    &-image {
      width: 137px;
      height: 137px;
    }
  }
}
