.tracks {
  // padding-right: 20px;
  // padding-left: 20px;

  h2 {
    color: $white;
  }

  &-wrapper {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 50px;
  }
}

.popular-track {
  display: flex;
  align-items: center;

  font: 12.8px/19.2px Roboto, sans-serif;

  .track {
    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    &-image {
      margin-right: 15px;
    }

    &-title {
      color: $white;
      font: bold 12.8px/19.2px Roboto, sans-serif;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 1239px) {
  .tracks {
    &-wrapper {
      display: grid;
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: auto;
    }
  }
}
